.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);;
    height: 100%;
    width: 100%;
    .instructions {        
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;       
    }
    .console {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .status {
       
        }
        .target {
        
        }
        .result {
       
        }
    }    
}