.nav-container {
    position: absolute;
    height: 5%;
    width: 100%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    // border-radius: 5%;
}