/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
/*current pallette: https://colorhunt.co/palette/110868?ref=tab*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
